@font-face {
  font-family: "iconfont"; /* Project id 3245995 */
  src: url('iconfont.woff2?t=1647407129849') format('woff2'),
       url('iconfont.woff?t=1647407129849') format('woff'),
       url('iconfont.ttf?t=1647407129849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cunchu:before {
  content: "\100ab";
}

