body{
    background-color: #f7f7f8;
    color: #333333;
}

/* #region  公共样式*/
.block{
    background-color: white;
}
.red{
    color: #cf4444;
}
.pannel{
    min-height: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px; 
}

.price-icon::before{
    content: "¥";
    font-size: 9px;
}

.space-between{
    justify-content: space-between;
}
/* #endregion 公共样式 */

/* #region 主体部分 */
.main{
    /* min-height: 1000px; */
    padding: 12px 12px 80px;
    /* background-color: gray; */
    overflow: auto;
}

/* #region 用户信息 */

.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 11px;
}

/* 位置 */
.user-info .location{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
}

.user-info .location a{
    display: block;
    width: 100%;
    height: 100%;
    color: #68bda5;
}

.user-info .icon-location{
    font-size: 28px;
}

/* 位置 */

/* 地址 */
.user-info .address{
    flex: 1;
    font-size: 13px;
}
.user-info .address .top{
    margin-bottom: 5px;
}
.user-info .address .top .name{
    padding-right: 20px;
    font-size: 15px;
}

.user-info .address .bottom{
    font-size: 12px;
}
/* 地址 */

/* 更多按钮 */
.user-info .more{
    width: 44px;
    height: 44px;
    /* border: 1px solid #eee; */
    text-align: center;
    line-height: 44px;
}
.user-info a{
    display: block;
    width: 100%;
    height: 100%;
    color: #68bda5;
}

.user-info .icon-more{
    font-size: 16px;
}
/* 更多按钮 */

/* #endregion 用户信息 */

/* #region 商品信息 */

.main .goods{
    display: flex;
    padding: 11px 0px 11px 11px;
}

.main .goods .pic{
    width: 85px;
    height: 85px;
    margin-right: 10px;
}

.main .goods .info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .goods .info .title{
    font-size: 13px;
    line-height: 19px;
    color: #262626;
}

.main .goods .info .tag-container span{
    margin-right: 5px;
    padding: 4px;
    font-size: 11px;
    border-radius: 2px;
    color: #888888;
    background-color: #f7f7f8;
}

.main .goods .info .tag-container span:last-child{
    margin-right: 0px;
}

.price>span{
    margin-right: 12px;
}

.price .price-now{
    font-size: 16px;
}

.price .price-last{
    font-size: 12px;
    color: #999999;
}

.main .goods .count{
    min-width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 15px;
}
/* #endregion 商品信息 */

/* #region 其他信息 */
.main .others{
    padding: 15px;
    font-size: 13px;
    color: #262626;
}
.main .others>div{
    display: flex;
    line-height: 21px;
    margin-bottom: 15px;
}

.main .others>div:last-child{
    margin-bottom: 0px;
}

.main .others .remark div:nth-child(1){
    margin-right: 20px;
}

.main .others .remark div:nth-child(2){
    font-size: 12px;
    color: #939393;
}

/* #endregion 其他信息 */

/* #endregion 主体部分 */

/* #region 支付部分 */
.pay{
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 11px;
    /* background-color: green; */
    border-top: 1px solid #ededed;
}

.pay .left{
    font-size: 12px;
}
.pay .left .money span{
    font-size: 20px;
}

.pay .right a{
    display: block;
    width: 90px;
    height: 35px;
    background-color: #6ec1aa;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    color: white;
}
/* #endregion 支付部分 */