body{
    background-color: #f7f7f8;
    color: #333333;
}

/* 公共样式 */
.block{
    background-color: white;
}
.red{
    color: #cf4444;
}
.pannel{
    min-height: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px; 
}
/* 公共样式 */


/* 主体部分 */
.main{
    min-height: 1000px;
    padding: 12px 12px 80px;
    /* background-color: gray; */
    overflow: auto;
}

.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 11px;
}

/* 位置 */
.user-info .location{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
}

.user-info .location a{
    display: block;
    width: 100%;
    height: 100%;
    color: #68bda5;
}

.user-info .icon-location{
    font-size: 28px;
}

/* 位置 */

/* 地址 */
.user-info .address{
    flex: 1;
    font-size: 13px;
}
.user-info .address .top{
    margin-bottom: 5px;
}
.user-info .address .top .name{
    padding-right: 20px;
    font-size: 15px;
}

.user-info .address .bottom{
    font-size: 12px;
}
/* 地址 */

/* 更多按钮 */
.user-info .more{
    width: 44px;
    height: 44px;
    /* border: 1px solid #eee; */
    text-align: center;
    line-height: 44px;
}
.user-info a{
    display: block;
    width: 100%;
    height: 100%;
    color: #68bda5;
}

.user-info .icon-more{
    font-size: 16px;
}


/* 更多按钮 */

/* 主体部分 */

/* 支付部分 */
.pay{
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 11px;
    /* background-color: green; */
    border-top: 1px solid #ededed;
}

.pay .left{
    font-size: 12px;
}
.pay .left .money span{
    font-size: 20px;
}

.pay .right a{
    display: block;
    width: 90px;
    height: 35px;
    background-color: #6ec1aa;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    color: white;
}
/* 支付部分 */