/* #region  页面通用样式 */
body {
    background-color: #f6f6f6;
}

.top {
    background-color: #fff;
    height: 133px;
}

.bottom {
    background-color: #fff;
    height: 300px;
}

.main {
    display: flex;
    margin-top: 30px;
    margin-bottom: 85px;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}

.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* #endregion */

/* #region  左侧导航栏 */
.main .aside {
    width: 227px;
    min-height: 500px;
    margin-right: 18px;
    background-color: pink;
}
/* #endregion */

/* #region  右侧内容 */

/* #region  右侧公共样式 */
.main .content {
    flex: 1;
    /* background-color: skyblue; */
}

.pannel {
    padding: 0px 20px 28px;
    margin-bottom: 20px;
    background-color: #fff;
}

.pannel .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px;
    border-bottom: 1px solid #f4f4f4;
}

.pannel .title>h4{
    font-size: 22px;
    font-weight: 400;
    color: #333333;
}

.pannel .title>a  {
    font-size: 16px;
    color: #999999;
}

.pannel .content{
    padding: 15px;
}
/* #endregion */

/* #region  账户预览 */
.overview {
    display: flex;
    height: 132px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px 0px;
    background-color: #fff;
}

.overview>div {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.overview>div>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: #333333;
}

.overview>div>a>img {
    width: 25px;
    height: 22px;
    margin-bottom: 15px;
}

.overview>div>a .address {
    width: 19px;
}

.overview>div:nth-child(1) {
    border-right: 1px solid #f4f4f4;
}

.overview .coupons>a>span:first-child {
    font-size: 25px;
    color: #e05e30;
    margin-bottom: 5px;
}

/* #endregion */

/* #region  我的订单*/
.orders .item{
    display: flex;
    height: 137px;
    margin-bottom: 20px;
    border: 1px solid #f4f4f4;
}

.actions{
    width: 180px;
}

.actions a{
    margin: 2px 0px;
    color: black;
}

.actions a:nth-child(1){
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color:#5eb69c;
    font-size: 14px;
    border-radius: 2px;
    color: white;
    margin-bottom: 10px;
}

.price{
    width: 200px; 
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.state{
    width: 200px;
    color: #e05e30;
    font-size: 14px;
}

.googs-detail{
    flex: 1;
    width: 0;
}

.googs-info{
    flex: 1;
    display: flex;
    align-items: center;
}

.googs-info .pic{
    width: 107px;
    height: 107px;
    padding: 0px 12px;
}

.googs-detail p{
    font-size: 16px;
    color: #333333;
}

.googs-detail>div>span
{
    margin-right: 5px;
    font-size: 14px;
    color: #999999;
}

/* #endregion */

/* #region  收藏商品*/
/* #endregion */

/* #region  我的足迹*/
/* #endregion */

/* #endregion */